
.light{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.baseSemaforo{
    width: 150px;
    height: 400px;    
    border-radius: 10px;
    padding-top: 25px;
}
.red{
   background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.active{
    box-shadow: 0 0 50px white;
}
.palo{
    width: 0.5px;
    height: 200px;
}